.main
  .main__header
    .main__header__group
      %p.main__header__group__name= @group.name
      %p.main__header__group__members= "Members: #{group_messages_path(@group.users)}"
    .main__header-right
      = link_to 'Edit', edit_group_path(@group), class:  'main__edit-btn'
  .main__body
    = render @messages

    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'form__submit'
